/* Style global */
/* body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
   */
  /* Conteneur principal */
  .dv {
    width: 90%;
    /* max-width: 1200px; */
    padding: 20px;
    text-align: center;
    /* background-color: #fff;
    border-radius: 10px; */
  
  }
  
  /* Titre principal */
  .tit{
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #080708;
    text-align: center;
   
    
  }
  
  /* Liste des pays */
  .liste{
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin: 0;
  }
  
  /* Carte de chaque pays */
  .lii {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .lii:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  /* Image du drapeau */
  .piccou {
    border-radius: 5px;
    width: 100%;
    max-width: 100px;
    margin-bottom: 15px;
    object-fit: cover;
  }
  
  /* Nom du pays */
  p {
    font-size: 1.2rem;
    color: #333;
    margin: 5px 0;
  }
  
  p:first-child {
    font-weight: bold;
    color: #421fa2;
  }
  
  /* Style pour les informations supplémentaires */
  p + p {
    font-size: 1rem;
    color: #555;
  }
  
  /* Boutons de pagination */
  .prece {
    background-color: #47494b;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 20px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  .prece:hover {
    background-color: #88898a;
  }
  
  .prece:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
  }
  /* Style pour le filtre de région */
  .selected {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    width: 200px;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
  }
  
  /* Style lors du survol du sélecteur */
  .selected:hover {
    border-color: #3498db;
  }
  
  /* Style lorsque le sélecteur est activé (focus) */
  .selected:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
  }
  