.formulaire{

display: flex;
justify-content: center;

}





.gestion-voitures {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    max-width: 400px;
  }
  
  .gestion-voitures h1 {
    text-align: center;
    color: #333;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .bttttn {
    background-color: #383635;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  
  /* .recapitulatif {
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #ddd;
  } */
  
  .recapitulatif h2 {
    color: #000000;
    
  }
  
  .listeul {
    list-style-type: none;
    padding: 0;
    list-style: disc;
  }
  
 .listerrr {
    margin: 5px 0;
  }