body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: background-color 0.4s ease, color 0.4s ease;
    overflow-x: hidden;
}

.home-container {
    padding: 20px;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-container.light {
    background: linear-gradient(to top, #f0e7b8, #f3c7d4);
    color: #698230;
}

.home-container.dark {
    background: linear-gradient(to bottom, #0d1217, #1c2833);
    color: #ecf0f1;
}

.switch-container {
    display: flex;
    justify-content: center;
    bottom: -40px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 10;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f8b595;
    transition: 0.4s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #340e52;
}

input:checked + .slider:before {
    transform: translateX(16px);
}

.welcome-section {
    margin-bottom: 30px;
    animation: fadeInUp 1.5s;
}

.welcome-title {
    font-size: 2.8em;
    font-weight: bold;
    color: inherit;
    text-shadow:#3498db, #9b59b6 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.welcome-description {
    font-size: 1.2em;
    margin-top: 10px;
    color: inherit;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    animation: fadeIn 1s;
}

.project-card {
    width: 180px;
    background: linear-gradient(to bottom, #a3c05f,  #f8b595);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease forwards;
}

.project-card:nth-child(1) { animation-delay: 0.1s; }
.project-card:nth-child(2) { animation-delay: 0.2s; }
.project-card:nth-child(3) { animation-delay: 0.3s; }
.project-card:nth-child(4) { animation-delay: 0.4s; }

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.project-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-description {
    font-size: 1em;
    color: #2c3e50;
    font-weight: 500;
}
.language-buttons {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.language-buttons button {
    padding: 10px 15px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #f8b595;
    color: #2c3e50;
    transition: background-color 0.3s ease;
}

.language-buttons button:hover {
    background: #a3c05f;
    color: white;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
